<div class="container">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">STOCKS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" onclick="javascript:event.target.port=80" href="cs4640-stock-app/mainpage.php">Global News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="javascript:event.target.port=80" href="cs4640-stock-app/preferences.php">Preferences</a>
            </li>
            <li class="nav-item">
                <input class="nav-search" type="text" placeholder="Search Stocks">
            </li>
        </ul>
        </div>
    </nav>

    <!-- Form to view stock -->
    <form #tipForm="ngForm"
    (ngSubmit)="onSubmit(tipForm.value)">
        <h1>Submit a Tip for other Users!</h1>

        <div class="form-group">
            <select required class="custom-select" [(ngModel)]="tipModel.type" name="type">
                <option value="">What Category is your Tip in?</option>
                <option *ngFor="let type of types">{{ type }} </option>
            </select>
        </div>

        <div class="form-group">
            <label>Enter a Description:</label>
            <textarea type="text" required class="form-control" [(ngModel)]="tipModel.desc" name="desc" placeholder="Enter your tip here..."></textarea>
        </div>

        <button class="btn btn-primary" type="submit"
            [disabled]="!tipForm.form.valid"
            (click)="confirmTip(tipForm.value)"
            title="always enabled"
            name="btn" value="submittip">
            Submit Tip
        </button>
    </form>


    
    <!--
    <p>{{ responsedata | json }}</p>
    <p>From Form: {{ tipForm.value | json }}</p>
    <p>From Form: {{ tipModel | json }}</p>
    <p>{{ data_submitted | json }}</p>-->
    <div class="confirmation" [ngClass]="{'confirmation': responsedata.type}" [ngStyle]="{'margin-top': '50px'}" *ngIf="(data_submitted | keyvalue)?.length">
        <h1> Tip Confirmation</h1>
        Confirm: {{ confirm_msg }}<br/>
        Data Entered: {{ data_submitted | json }}
    </div>

    <!--
    <button class="btn btn-primary" type="submit"
            (click)="getFromDB(tipForm.value)"
            title="always enabled"
            name="btn" value="viewtip">
            View Tips
    </button>-->
    
</div>
    